name: Test

on:
    pull_request:
        types: [opened, synchronize]
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x
            - name: Build
              run: deno task debug
            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: build
                  path: |
                      ./src/datex-web/datex_web.internal.js
                      ./src/datex-web/datex_web.wasm
                  retention-days: 5

    test:
        runs-on: ubuntu-latest
        name: Test
        needs: build
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-web

            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Check formatting
              run: deno fmt --check

            - name: Lint
              run: deno lint

            - name: Type Checking
              run: deno check -I ./src ./test

            - name: Run Tests
              run: deno task test-no-build

    publish-jsr-dry-run:
        runs-on: ubuntu-latest
        needs: build
        name: Publish to JSR (Dry Run)
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-web
            - name: Publish package
              run: npx jsr publish --dry-run

    publish-npm-dry-run:
        runs-on: ubuntu-latest
        needs: build
        name: Publish to NPM (Dry Run)
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-web
            - name: Install Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - uses: actions/setup-node@v4
              with:
                  node-version: "24.x"
                  registry-url: "https://registry.npmjs.org"

            - name: Build for NPM
              run: deno task build-npm

            - name: Publish to NPM
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: cd npm && npm publish --dry-run
